body {
  font-family: Arial, sans-serif;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  width: 400px;
}

h1 {
  text-align: center;
  color: #fff;
}

label {
  font-weight: bold;
  color: #fff;
}

textarea {
  font-family: Arial, sans-serif;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px;
  resize: none;
  background-color: #474747;
  color: #fff;
  border: none;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #40802e;
}